  body {
    background: #FFFFFF;
    color: #212121;
    font: 400 16px / 1.5 -apple-system, sans-serif;
  }

  h1 {
    color: #002395;
    font-size: 2em;
    margin: 8px;
  }

  table {
    background: #FAFAFA;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table tr {
    border: 2px solid #E0E0E0;
  }

  table th, table td {
    padding: 16px 8px;
    text-align: center;
  }

  table th {
    background: #002395;
    color: #FAFAFA;
    font-size: .8em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 736px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      border-bottom: 2px solid #E0E0E0;
      display: block;
      margin-bottom: 8px;
      padding: 8px;
    }

    table th, table td {
      display: block;
    }

    table td {
      border-bottom: 2px dotted #E0E0E0;
      text-align: right;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: 700;
      margin: 0 16px 16px 0;
      text-transform: uppercase;
    }
  }
